@import "./vars";


swiper-slide {
  font-size: 18px;
  background: hsl(0, 0%, 80%);
  display: flex;
  align-items: center;
}

swiper-container {
  width: 100%;
  height: 90vw;
}
@media (min-width:512px){
  swiper-container {
    height: 75vw;
  }
}
@media (min-width:768px) {
  .mn-slider {
    margin-top: -86px !important;
  }

  .slide {
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  swiper-container {
    height: 50vw;
  }
}

.slide {
  background-position: left left;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slider-1 {
  background-image: url('../../images/uiImage/slider/index-1-slider-1-1920x768.jpg');
  @extend .slide;
}

.swiper-slider-2 {
  background-image: url('../../images/uiImage/slider/index-1-slider-2-1920x768.jpg');
  @extend .slide;
}

.swiper-slider-3 {
  background-image: url('../../images/uiImage/slider/index-1-slider-3-1920x768.jpg');
  @extend .slide;
}


.mn-slider {
  margin-top: -52px;
}

/* Add this CSS to your stylesheet or in the head of your HTML document */
.swiper-pagination-bullet {
  width: 10px; /* Set the width of the pagination bullets */
  height: 10px; /* Set the height of the pagination bullets */
  background-color: #ff0000; /* Set the background color of the pagination bullets */
  opacity: 0.7; /* Set the opacity of the pagination bullets */
}

.swiper-pagination-bullet-active {
  background-color: #ffffff; /* Set the background color of the active pagination bullet */
}
