// variable color

$BrandBook:#FF5A24;
$BrandBookHover:rgb(227, 224, 224);
$dark:#000000;
$LightGray:#FAFAFA;
$BlightGray:#F1F1F1;
$blueBrand:#0076FE;
$bodyColor:#f5f5f5;
$boxColor:#EDEDED;
$ColorText:#766671;
$borderFocus:#b2b2b2;
$white:#fff;

$prim_color:#216d66;
$sec_color:#FFD059;
$sidebar: #1c334e;
$side-titr: #112134;
$main: #E8F2FC;
$green-dark-opa:#00695d3f;
$green-dark-opa-hover:#00695d5c;
$green-dark-border:#00695d81;
$green-dark:#00695C;
$green-light:#04b19d;

$bg-product:#F6F6FD;
$heading-product:#97a2bf;
$heading-product-value:#6C6C6C;


$darkBook:#31404a;
$darkBookOpa :#31404a89;
$headingBook:#516ca9;
$white:#fff;
$blueBook:#516ca9;
$redBook:#f16583;
$prupel:#516ca9;
$gray:#cbd2da;